ul li:nth-child(odd){
    color:purple
}

button:hover {
    background-color: violet;
    color: tomato;
}

a::before {
    content: ;
    margin-right: 8px;
}

p::first-letter {
    font-size: 2em;
    font-weight: bold;
    color: #800080;
}

.contenedor-flx1{ /*class*/
    background-color: rgb(199, 138, 240); 
    flex: 1; 
    padding-left:10px;
    /* align-content: center;  */
    text-align: center;
} 

#container{ /*id*/
  display: flex; 
  gap: 10px;
  flex-direction: row;
}

@media(max-width:480px){ /*media query*/
    #container{
        flex-direction: column;
    }
}

img {
    /* width: 200px; */
    /* height: 250px; */
    object-fit: contain;
}

.imagen_principal{
    width: 600px;
    height: 800px;
}

.reelImg {
    width: 150px;
    height: 120px;
}

.contenedor-playeras {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;

}

.boton-suave {
    background-color: blueviolet;
    color: cadetblue;
    padding: 10px  20px;
    border: none;
    cursor: pointer;
    /* La magia ocurre aqui: */
    transition: background-color 0.5 ease;

}

.boton-suave:hover {
    background-color: aqua;
    
}


.cuadro-animado {
    width: 100px;
    height: 100px;
    background-color: yellow;
    animation: miAnimacion 3s infinite alternate;
}

@keyframes miAnimacion {
    0% {transform: scale(1); background-color: red; }
    50% {transform: scale(1.5); background-color: blue; }
    100% {transform: scale(1); background-color: red; }
}

.contenedor-banner {
    width: 100%;
    background-color: #333;
    overflow: hidden;
    padding: 10px 0;
}


.texto-banner {
    color: yellowgreen;
    display: inline-block;
    white-space: nowrap;


    /*Propiedades solicitadas */
    animation-name: deslizar;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
    
}

@keyframes deslizar {
    from { transform: translateX(0%);}
    to { transform: translateX(50%);}
}



    
